@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

body {
    font:16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    /* font-family: Arial,sans-serif; */
    font-size: 0.85rem;
    line-height: 1.42857143;
    color: #2d2d2d;
    background:#f0f2fd;
}

.main-container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}
code {
    font-family: "Source Code Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}
img {
  max-width:100%;
}
.tabbed-pane {
  padding-top: 12px;
}
.html-widget {
  margin-bottom: 20px;
}
button.code-folding-btn:focus {
  outline: none;
}
summary {
  display: list-item;
}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

.main-nav ul {
    display: flex;
    flex-direction: row;  /* explicitly set to row */
    list-style-type: none;  /* removes bullets */
    padding: 0;
    margin: 0;
    gap: 20px;
}

.main-nav li {
    margin: 0;
    padding: 0;
}

.main-nav a {
    text-decoration: none;
    color: inherit;
}

.main-nav a:hover {
    text-decoration: underline;
}

nav ul, footer ul {
    display: flex;
    gap: 20px;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    /* display: inline; */
    margin-right: 0px;
}

.main-container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
}

h1.title {
    font-size: 38px;
}

h1 {
    margin: .67em 0;
}

h4 {
    font-size: 18px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

* {
    box-sizing: border-box;
}
